@page
@model Second_Soul.Pages.BlogPage.IndexModel
@{
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-blog set-bg" data-setbg="/template/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>SECOND SOUL BLOGS</h2>
                <p style="color: white;">Check and follow new news every day!</p>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-6/463336085_122113845614527512_6586357672800161814_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEPuwTlDEIqYaVg3-a1o6TtCAiEGeo9RRgICIQZ6j1FGCmhA62-rKJq_4JAfueyhnLaVhMwMuG9DgI3yN8_EI_q&_nc_ohc=HRIPIsAfqjEQ7kNvgH1SeyB&_nc_ht=scontent.fsgn5-9.fna&_nc_gid=AJMGs8sDjok03T8vwAh6pVG&oh=00_AYDPqpfxPmeL-o0Y79qSxh2SPPbCMvmHvonacDq9bh8WoA&oe=671AABFA"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 17 October 2024</span>
                        <h5>Smart Consumption With Secondhand Model</h5>
                        <a href="https://www.facebook.com/share/p/PzmKGbgsT6CVb3et/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/463658282_122113845224527512_1611870440587227002_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHiZzy6D3iQWKJfGFSERhumH9DAo42hlFYf0MCjjaGUVoQIM9B4KHv-SWGECCq7NgBpkp-vwJPYFNVwNDiLPW0T&_nc_ohc=hz6vBQmn6hUQ7kNvgEh8Y0D&_nc_ht=scontent.fsgn5-5.fna&_nc_gid=Atj33bhcaohzFuv0_uhN-4p&oh=00_AYAo2ng8Dpu3vOmNTpl1zNeYX15aXAv6cUIITs_nmxx1yg&oe=671A9F62"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 19 October 2024</span>
                        <h5>Where Old Stuff Turns Into New Opportunities</h5>
                        <a href="https://www.facebook.com/share/p/mc4yHY5fiWqPoZBn/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/463072375_122113844798527512_6905669622296539598_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGFe9pJDss_Bf6j75sj7DO_LYcYAZ_mHoAthxgBn-YegG962Qy-y6BkA9dLEkT6rBNmKvEaYJjG5GXqe0ro7PDT&_nc_ohc=ueCx0R_CnicQ7kNvgGvXvUX&_nc_ht=scontent.fsgn5-5.fna&_nc_gid=A4x6fo56yeEEv-7UQQRIsV1&oh=00_AYBAdZ4wBhROMBaHkwEtJj_mIe77E4KN2Vs1q6YrOWH_qA&oe=671ACE6F"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 16 October 2024</span>
                        <h5>Green Shopping Movement From Secondhand Goods</h5>
                        <a href="https://www.facebook.com/share/p/P3cfZxhSZhBQuCh3/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/463391811_122113843436527512_2063072403419160374_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeF4piuLrKDQpq3XWie1wl9u56NqczeC7Zfno2pzN4Ltl_W96RDoD4pcJUXIv2-oYk_idhJr-NcyUcc0oLKu5wot&_nc_ohc=gzKOVesbLHcQ7kNvgE7s7GH&_nc_ht=scontent.fsgn5-5.fna&_nc_gid=A56o1fAQLK3x4lbeoILnxUs&oh=00_AYDQwDvccYOhtCoUWczMql_8V36oz3POKm56-HlgHUD8sw&oe=671AA367"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 23 October 2024</span>
                        <h5>New Directions for Sustainable Consumption</h5>
                        <a href="https://www.facebook.com/share/p/fJTmYzjoG3ARVzT8/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/462363480_122111614910527512_1329304448791198015_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFTwfoNmr1e7hNFJDcmPw2BiVrGrPbpDeGJWsas9ukN4XHT9PwV42oHdWRsyQpVacpjs89gCL9Oes5W5vE5NKV3&_nc_ohc=Krusmuiqd8oQ7kNvgGxxqoi&_nc_ht=scontent.fsgn5-5.fna&_nc_gid=AnqAstO1uJKvQ4ICvrDo9xS&oh=00_AYBsOlXOTLRYp1AXOU_52I6wGhPgjz3Ixjh9IlUVHh34lg&oe=671AB5F0"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 21 October 2024</span>
                        <h5>Saving Solutions for Students</h5>
                        <a href="https://www.facebook.com/share/p/5VXwL8WCxuCKHyuF/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn5-8.fna.fbcdn.net/v/t39.30808-6/462618487_122111613992527512_6638551590145593297_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGnyrozIjwetmgS3pcYAI9lltRTHU97IbmW1FMdT3shueJD9xbkYa9h2TZra41TcuNp5mLJZtI2k056WXEKOSPo&_nc_ohc=U4o1IHzhsR4Q7kNvgGAf4mO&_nc_ht=scontent.fsgn5-8.fna&_nc_gid=A4O65lrAN68r4adoZViRc9L&oh=00_AYBnaB1Jp3c84NLUmeFICIlHywOE0CfxBX1BK7WshmrUUg&oe=671AADBE"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 28 October 2024</span>
                        <h5>Development Trends Of Secondhand Goods In The Future</h5>
                        <a href="https://www.facebook.com/share/p/cnntQwj64HHrTse6/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn5-14.fna.fbcdn.net/v/t39.30808-6/462493600_122111616452527512_4933119684369427651_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeFeFonfA5olHIZN0G644z_a0t-GALiJbYzS34YAuIltjPpTef82tQUjMgCp4Hdvy-An2Ri83hYdOWFFp8O6x3yv&_nc_ohc=qQQwSuRgpqwQ7kNvgFWyFkM&_nc_ht=scontent.fsgn5-14.fna&_nc_gid=AXGpKk-14KNkgNdmPuRGn8m&oh=00_AYCNLeJ898xenrsaiOAUk4_UzHhxJsmBBVTC7RkU-H9_ZQ&oe=671ABF6B"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 16 October 2024</span>
                        <h5>Should you buy secondhand technology?</h5>
                        <a href="https://www.facebook.com/share/p/Q7AiCJbMknvYX6LD/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/462507425_122111613230527512_4522415731783734208_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEdcnGxKvhhpBuDGmwdDUStChfff5eHIbsKF99_l4chu3uOhF2lJ-8kuorGl36wwZc77u97WqO6-DvzoZwMtWf3&_nc_ohc=Z-lxk10HeF8Q7kNvgEsjl-3&_nc_ht=scontent.fsgn5-15.fna&_nc_gid=A2VuwpvGu2G5UvAQlzRS8lS&oh=00_AYBU_CVzbSsXYm2HnY-GiUPo5RWN9giYsLuKmcoP214FOg&oe=671AA252"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 21 October 2024</span>
                        <h5>5 Reasons You Should Start Buying Secondhand</h5>
                        <a href="https://www.facebook.com/share/p/KNqSDjcwWR1Eshnv/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn5-14.fna.fbcdn.net/v/t39.30808-6/462227267_122111033336527512_4274326179321842100_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHhSqybfXmJVMnH44xiOZ6_jzW7SnZtIXiPNbtKdm0heD2ynWk_5fZWDb1lWsn5cGsdp0vgnnUoun5R4pJMiqZT&_nc_ohc=azJ59Io0-FUQ7kNvgGPY7xZ&_nc_ht=scontent.fsgn5-14.fna&_nc_gid=AZP30JOurY23F4mOFEb2R7i&oh=00_AYAin6OkedoD5PfIQXhCmEJ2QTVTJYyCW6qBZpQFEQnf7A&oe=671ABBCB"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 28 October 2024</span>
                        <h5>Where to buy secondhand goods?</h5>
                        <a href="https://www.facebook.com/permalink.php?story_fbid=122111033414527512&id=61565825386889">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
