@page
@model Second_Soul.Pages.UserPage.ProfileModel
@{
}
<form method="post" enctype="multipart/form-data">
    <input type="file" name="PictureFile" />
    <button type="submit">Update Profile Picture</button>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage) || !string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div style="color: red;">@Model.ErrorMessage</div>
    <div style="color: lawngreen;">@Model.SuccessMessage</div>

}
