@page
@model Second_Soul.Pages.BlogPage.IndexModel
@{
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-blog set-bg" data-setbg="/template/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>SECOND SOUL BLOGS</h2>
                <p style="color: white;">Check and follow new news every day!</p>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn8-4.fna.fbcdn.net/v/t39.30808-6/463336085_122113845614527512_6586357672800161814_n.jpg?stp=dst-jpg_s600x600&_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=U6HXClBa65gQ7kNvgH14vgQ&_nc_zt=23&_nc_ht=scontent.fsgn8-4.fna&_nc_gid=Aha8YemI83VIbNf724PGW7k&oh=00_AYAQK7k0HAB7pNvNaWLxZQko--KXJ8T66M8hrfxOsqW9aw&oe=6731157A"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 17 October 2024</span>
                        <h5>Smart Consumption With Secondhand Model</h5>
                        <a href="https://www.facebook.com/share/p/PzmKGbgsT6CVb3et/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-6/463364162_122113845776527512_6733024452046926041_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_ohc=a5jh5RjE6BoQ7kNvgGN3Gqo&_nc_zt=23&_nc_ht=scontent.fsgn8-3.fna&_nc_gid=AnxY9e6uwR5u2dgB0_8kxFh&oh=00_AYC8oKrMDPLAAsTsY9j4OjLmN6gKM_Lfoa8sHWR_gWvkyA&oe=67311BB6"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 19 October 2024</span>
                        <h5>Where Old Stuff Turns Into New Opportunities</h5>
                        <a href="https://www.facebook.com/share/p/mc4yHY5fiWqPoZBn/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn8-4.fna.fbcdn.net/v/t39.30808-6/463658282_122113845224527512_1611870440587227002_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeFQIUKslx2jUZWVxhSaBpD9H9DAo42hlFYf0MCjjaGUVjv3e9xE5SfbgWbDVg1s1CVcP0ycbQ6cN-bnSUKqx4F6&_nc_ohc=YRxdZILe0UMQ7kNvgG7Ts8U&_nc_zt=23&_nc_ht=scontent.fsgn8-4.fna&_nc_gid=Aw3c-xGVfkoaXP142_sLNmZ&oh=00_AYBEv-r15TlMTijoGx2j9IKG8Vfm5Pqy9GiQksRPLjmMJA&oe=673108E2"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 16 October 2024</span>
                        <h5>Green Shopping Movement From Secondhand Goods</h5>
                        <a href="https://www.facebook.com/share/p/P3cfZxhSZhBQuCh3/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-6/463072375_122113844798527512_6905669622296539598_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeH76S6CBTx6fnb54egWyQD_LYcYAZ_mHoAthxgBn-YegPMiUco7JeJAF1TLT87zEaHs3MRf5tCAZEaVpPZJCXGd&_nc_ohc=2YQvWSGyqacQ7kNvgFxtUe6&_nc_zt=23&_nc_ht=scontent.fsgn8-3.fna&_nc_gid=AZORSBRYC1EcK2Dtc62b0g_&oh=00_AYBuMXxme4ou6vjTbRZkwHcdYW0QuQn7ZuvCi8QwQxMj0w&oe=6730FFAF"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 23 October 2024</span>
                        <h5>New Directions for Sustainable Consumption</h5>
                        <a href="https://www.facebook.com/share/p/fJTmYzjoG3ARVzT8/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn8-4.fna.fbcdn.net/v/t39.30808-6/462594162_122111613224527512_7375700200671165824_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_ohc=ZvCMW3IU5DoQ7kNvgEczHCi&_nc_zt=23&_nc_ht=scontent.fsgn8-4.fna&_nc_gid=Afhh8Fq6D-siQAJOKUUCacj&oh=00_AYAUgR3n3HaIuvza5ybVTKbdax_6v8z5ZPntZdGR7TZHbA&oe=67313057"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 21 October 2024</span>
                        <h5>Saving Solutions for Students</h5>
                        <a href="https://www.facebook.com/share/p/5VXwL8WCxuCKHyuF/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-6/462507425_122111613230527512_4522415731783734208_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_ohc=dDl6-LnY9PAQ7kNvgFgWKWA&_nc_zt=23&_nc_ht=scontent.fsgn8-3.fna&_nc_gid=AI8QxCpSXEKHsR2h9uUpZe7&oh=00_AYDXXPTv79XF5PlUxPIjJO031In-jGSMQiu0yuDYlGu8NQ&oe=67310BD2"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 28 October 2024</span>
                        <h5>Development Trends Of Secondhand Goods In The Future</h5>
                        <a href="https://www.facebook.com/share/p/cnntQwj64HHrTse6/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-6/462137138_122110994996527512_7431191578922892331_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeE7kgYYX6nJ02E4BGotttOG1ByXDmiGICfUHJcOaIYgJ0dVj0QCXfIcK3NEw56h4hb7hlQvgl7pivQ8c6_pDwx3&_nc_ohc=b7TshqGvOIEQ7kNvgHU1OFt&_nc_zt=23&_nc_ht=scontent.fsgn8-3.fna&_nc_gid=Alws6lTdYpDRGgeSXV3ed8N&oh=00_AYCwYOGCjMxTPZiARRxHufMWTCtmllIW6GBvEKs5mOuEtA&oe=67310C43"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 16 October 2024</span>
                        <h5>Should you buy secondhand technology?</h5>
                        <a href="https://www.facebook.com/share/p/Q7AiCJbMknvYX6LD/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-6/461566523_122109294662527512_6746235122386102087_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_ohc=SHvbpb-wcJ4Q7kNvgHfcPu0&_nc_zt=23&_nc_ht=scontent.fsgn8-3.fna&_nc_gid=AORcpNaTfdcU1YY0BBYUl5z&oh=00_AYDtb3Ip4FWpRU2D-ddl7BJuOkTZPtiJhKf7mh486xZLdw&oe=67310FE7"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 21 October 2024</span>
                        <h5>5 Reasons You Should Start Buying Secondhand</h5>
                        <a href="https://www.facebook.com/share/p/KNqSDjcwWR1Eshnv/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg" data-setbg="https://scontent.fsgn8-3.fna.fbcdn.net/v/t39.30808-6/461652815_122109294482527512_4874335241424547370_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=127cfc&_nc_ohc=2hTd6CDUgiIQ7kNvgGFoKIH&_nc_zt=23&_nc_ht=scontent.fsgn8-3.fna&_nc_gid=AEnhrgOvnqVEeky4cTY_ZHx&oh=00_AYC4zp69Kg0GomG3m6-MCe-7xN5d260EikLvTGdUvcxkJA&oe=67311FEA"></div>
                    <div class="blog__item__text">
                        <span><img src="/template/img/icon/calendar.png" alt=""> 28 October 2024</span>
                        <h5>Where to buy secondhand goods?</h5>
                        <a href="https://www.facebook.com/permalink.php?story_fbid=122111033414527512&id=61565825386889">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
