@page
@model Second_Soul.Pages.AboutModel
@{
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>About Us</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Home</a>
                        <span>About Us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- About Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="/template/img/about/about-us.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Who We Are ?</h4>
                    <p>
                        We are a team of six students from FPT University, majoring in economics and programming. 
                        Together, we've built a platform that makes buying and selling second-hand goods simple and efficient.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Who We Do ?</h4>
                    <p>
                        We offer a marketplace where users can easily post items for sale and find great deals on second-hand products. 
                        Our goal is to create a convenient and eco-friendly shopping experience.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="about__item">
                    <h4>Why Choose Us</h4>
                    <p>
                        With a blend of economic insight and technical expertise, we aim to provide an affordable, 
                        easy-to-use platform that promotes sustainable consumption. Trust us to help you find great 
                        value in every transaction.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Testimonial Section Begin -->
<section class="testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="testimonial__text">
                    <span class="icon_quotations"></span>
                    <p>
                        “Smart consumption is not only about saving money but also 
                        about how you contribute to society and the environment.”
                    </p>
                    <div class="testimonial__author">
                        <div class="testimonial__author__pic">
                            <img src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-6/440606774_3730036693936484_3140176856699718664_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEF5R7HUqKBitklj0S4Ur9n6_nWlqbHt8vr-daWpse3y861pTidpl7vewlKrkedgcdLZIbqsSrsUDS0GlITuw2y&_nc_ohc=Pfeg41sy-sEQ7kNvgGxUBit&_nc_ht=scontent.fsgn5-9.fna&_nc_gid=AD3ivcekaR6Emj1LJ_slwyn&oh=00_AYDCyz3o09NU_n6cm_LEQvOp81lLzPg7cnQbjAyky_urEA&oe=671AC6BA" alt="">
                        </div>
                        <div class="testimonial__author__text">
                            <h5>Minh Pham</h5>
                            <p>Software Engineer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="testimonial__pic set-bg" data-setbg="https://scontent.fsgn5-14.fna.fbcdn.net/v/t39.30808-6/461132144_3834051526868333_8395401421290555491_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeF30i1l7heiTzsJEoQaRnwWJMvVv-k_rXMky9W_6T-tc0J0oOKgwW8qQ3tUfhESD3wxOS2pSRjVVv3nZcoUFtAt&_nc_ohc=9UMd547cg5QQ7kNvgGKio7k&_nc_ht=scontent.fsgn5-14.fna&_nc_gid=ANeWLIbfgBLqQC81dSq-DmG&oh=00_AYD7fTkT-7gMin82baeZ4QZ87mPov8HtdUkZRk-MDS47GQ&oe=671AB5E1"></div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->
<!-- Counter Section Begin -->
<section class="counter spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">102</h2>
                    </div>
                    <span>Our <br />Clients</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">30</h2>
                    </div>
                    <span>Total <br />Categories</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">102</h2>
                    </div>
                    <span>In <br />Country</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <div class="counter__item__number">
                        <h2 class="cn_num">98</h2>
                        <strong>%</strong>
                    </div>
                    <span>Happy <br />Customer</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter Section End -->
<!-- Team Section Begin -->
<section class="team spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Team</span>
                    <h2>Meet Our Team</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-6/440606774_3730036693936484_3140176856699718664_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEF5R7HUqKBitklj0S4Ur9n6_nWlqbHt8vr-daWpse3y861pTidpl7vewlKrkedgcdLZIbqsSrsUDS0GlITuw2y&_nc_ohc=Pfeg41sy-sEQ7kNvgGxUBit&_nc_ht=scontent.fsgn5-9.fna&_nc_gid=AZfmZPW23BUTKmoIr4Lg-0w&oh=00_AYAKSOoyLEe5JNJ13WWpFOXFtLQaj0fmNIjVwsoumRBqbA&oe=671AC6BA" alt="">
                    <h4>Minh Pham</h4>
                    <span>Leader</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="/template/img/about/team-3.jpg" alt="">
                    <h4>Duong Hien Bao Ngoc</h4>
                    <span>Economy</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="/template/img/about/team-3.jpg" alt="">
                    <h4>Xuan Truc</h4>
                    <span>Economy</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="/template/img/about/team-3.jpg" alt="">
                    <h4>Quy</h4>
                    <span>Backend Development</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="/template/img/about/team-3.jpg" alt="">
                    <h4>Thai Thanh Hoang</h4>
                    <span>Marketing</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="/template/img/about/team-3.jpg" alt="">
                    <h4>Tran Minh Hieu</h4>
                    <span>Frontend Developer</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team__item">
                    <img src="/template/img/about/team-3.jpg" alt="">
                    <h4>Đo The Phi</h4>
                    <span>Frontend Developer</span>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Team Section End -->
<!-- Client Section Begin -->
<section class="clients spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Partner</span>
                    <h2>Cooperative Organization</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="https://university.fpt.edu.vn/" class="client__item"><img src="https://sro.fptucantho.vn/images/2020-FPTU-Eng.png" alt=""></a>
            </div>
        </div>
    </div>
</section>
